@import "../../../assets/style/mixins";
@import "../../../assets/style/variables";

:host {
  width: 100%;
  display: flex;
  position: relative;
  &:not(:last-child) {
    margin-right: 10px;
  }
  &.small {
    margin-bottom: 10px;
    img {
      width: 100%;
      height: 170px;
      object-fit: cover;
    }
    @include mobile_large {
      width: calc(50% - 5px);
    }
  }
  &.big img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    @include mobile_large {
      height: 200px;
    }
  }
  &.squares img {
    height: 100px;
  }
  .caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    .title {
      font-size: 1.5rem;
      margin-bottom: 5px;
    }
    .content {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      flex-wrap: wrap;
      .views {
        font-size: 0.75rem;
      }
    }
  }
  .upload {
    width: 100%;
    height: 170px;
    background-color: $background;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    text-decoration: none;
    color: white;
    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 150px;
      img {
        width: 2rem;
        margin-right: 10px;
      }
    }
  }
}
