<div class="windows">
  <div class="header">
    <div class="title">{{ title }}</div>
    <div class="link">{{ all }}</div>
  </div>
  <div class="squares">
    <div class="square-2">
      <app-image-card
        img="../../assets/img/image-placeholder.png"
        class="big"
        title="How to improve your skills"
        person="Albert Sujono"
        [views]="1234"
      ></app-image-card>
    </div>
    <div class="square-1">
      <app-image-card
        img="../../assets/img/image-placeholder.png"
        class="small"
        person="Albert Sujono"
        [views]="1234"
      ></app-image-card>
      <app-image-card
        img="../../assets/img/image-placeholder.png"
        class="small"
        person="Albert Sujono"
        [views]="1234"
      ></app-image-card>
    </div>
    <div class="square-2">
      <app-image-card
        img="../../assets/img/image-placeholder.png"
        class="small"
        person="Albert Sujono"
        [views]="1234"
      ></app-image-card>
      <app-image-card
        img="../../assets/img/image-placeholder.png"
        class="small"
        person="Albert Sujono"
        [views]="1234"
      ></app-image-card>
    </div>
    <div class="square-1">
      <app-image-card [upload]="true"></app-image-card>
    </div>
  </div>
</div>
