.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  @include tablet {
    max-width: calc(100% - 2rem);
  }
  @include mobile_large {
    max-width: calc(100% - 2rem);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 10px;
  .title {
    font-size: 2rem;
  }
  .link {
    font-size: 0.8rem;
    text-decoration: none;
    color: white;
  }
}

.row {
  display: flex;
  @include mobile_large {
    flex-wrap: wrap;
  }
}

.col-2 {
  width: 66.666%;
  @include mobile_large {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.col-1 {
  width: 33.333%;
  @include mobile_large {
    width: 100%;
    margin-bottom: 2rem;
  }
}

// margin
@for $n from 1 through 20 {
  .m-#{$n} {
    margin: #{$n * 5}px;
  }
  .mt-#{$n},
  .mt-md-#{$n},
  .my-#{$n} {
    margin-top: #{$n * 5}px;
  }
  .mb-#{$n},
  .mb-md-#{$n},
  .my-#{$n} {
    margin-bottom: #{$n * 5}px;
  }
  .mr-#{$n},
  .mr-md-#{$n},
  .mx-#{$n} {
    margin-right: #{$n * 5}px;
  }
  .ml-#{$n},
  .ml-md-#{$n},
  .mx-#{$n} {
    margin-left: #{$n * 5}px;
  }
}
@include mobile_large {
  [class*="mr-md-"] {
    margin-right: 0;
  }
}
