@import "src/assets/style/variables";

:host {
  img {
    margin-bottom: -0.3rem;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
  a {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: $background;
    color: $primary;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 15px;
    transition: all 500ms;
    &:hover {
      margin-bottom: 5px;
      box-shadow: 0 5px 13px #00000069;
    }
  }
}
