<nav>
  <div class="container">
    <a href="#" class="brand">Social<span>Network</span></a>
    <div class="right">
      <input type="text" placeholder="Find ..." />
      <button>Upload</button>
      <a class="user" routerLink="/login" routerLinkActive="active">
        <button>
          <img src="../../assets/img/user.svg" alt="" />
        </button>
        <div class="text">
          <div class="title">Waseem</div>
          <div class="desc">Arshad</div>
        </div>
      </a>
    </div>
  </div>
</nav>
