<div class="header">
  <div class="title">Activity</div>
  <div class="link">View timelines /Filter activities</div>
</div>
<div class="list">
  <div class="card-list" *ngFor="let item of timeline; index as i">
    <img [src]="item.img" [alt]="item.title" />
    <div class="label">
      <div class="title">
        {{ item.title }}
        <span> {{ item.subtitle }} </span>
      </div>
      <div class="desc">{{ item.desc }}</div>
      <div class="time">
        <img [src]="item.timeImg" alt="" />
        {{ item.timeContent }}
      </div>
    </div>
  </div>
</div>
