.breadcrumb {
  padding: 10px 0;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  margin-top: 10px;
  word-spacing: 10px;
  display: flex;
  .item {
    text-decoration: none;
    color: white;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
