<div class="header">
  <div class="title">Activity</div>
  <a href="#" class="link">View timelines /Filter activities</a>
</div>
<div class="list">
  <div class="card-list" *ngFor="let item of timeline; index as i">
    <img
      [src]="photos[i] ? photos[i] : 'assets/img/notfound.png'"
      [alt]="item.title"
    />
    <div class="label">
      <div class="title">
        {{ item.title }}
        <span> {{ item.subtitle }} </span>
      </div>
      <div class="desc">{{ item.desc }}</div>
      <div class="time">
        <img [src]="item.timeImg" alt="" />
        {{ item.timeContent }}
      </div>
    </div>
  </div>
</div>
